// Flip container
.flip-container {
  perspective: 800px;
  .img-wrapper {
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    .side {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    .front {
      border-radius: 5px;
      overflow: hidden;
      z-index: 2;
      transform: rotateX(0deg);
    }
    .back {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: var(--black-color);
      transform: rotateX(180deg);
      .content-wrapper {
        height: 100%;
        padding: 25px 40px;
        @media(max-width: $sm) {
          padding: 15px 20px;
        }
        h4 {
          text-align: center;
          font-weight: 600;
          color: $white;
          margin-bottom: 10px;
          line-height: 1;
          @media(max-width: $md) {
            font-size: 20px;
          }
          @media(max-width: $sm) {
            font-size: 18px;
            margin-bottom: 5px;
          }
        }
        p {
          color: rgba($white, 0.9);
          text-align: center;
        }
      }
    }
  }
}

.flip-container:hover {
  .img-wrapper {
    transform: rotateX(180deg);
  }
}
