// Blog section
.blog-section {
  // Blog layout with sidebar
  .blog-layout-sidebar-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .blog-layout-sidebar {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  // Post standard
  .post-standard {
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 8px var(--box-shadow-boxes);
    margin-bottom: 50px;
    @media(max-width: $md) {
      margin-bottom: 30px;
    }

    .post-image-side {
      padding-left: 0;
      padding-right: 0;
      @media(max-width: $lg) {
        order: 1;
      }

      .img-wrapper {
        overflow: hidden;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;

        img {
          transition: all .5s ease-in-out;
        }
      }

      .img-wrapper:hover:after {
        opacity: 0.4;
      }

      .img-wrapper:after {
        content: ' ';
        position: absolute;
        top: 0;
        transition: all 0.8s ease-in-out;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, var(--primary-color));
        opacity: 0;
      }
    }

    .post-content-side {
      padding: 20px 60px;
      display: flex;
      flex-direction: column;
      @media(max-width: $xl) {
        padding: 20px 40px;
      }
      @media(max-width: $lg) {
        order: 2;
        padding: 40px 50px;
      }
      @media(max-width: $sm) {
        padding: 25px 35px;
      }

      .post-title {
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--black-color);
        font-size: 26px;
        font-family: var(--secondary-font);
        line-height: 1.3;
        @media(max-width: $xl) {
          font-size: 24px;
        }
        @media(max-width: $lg) {
          margin-bottom: 5px;
        }
        @media(max-width: $sm) {
          font-size: 20px;
        }
      }

      .post-content {
        margin-bottom: 20px;
        @media(max-width: $xl) {
          margin-bottom: 15px;
        }
        @media(max-width: $lg) {
          margin-bottom: 10px;
        }
      }

      .description-box {
        margin-bottom: 15px;
        line-height: 1;
        font-size: 13px;
        font-weight: 500;
        font-family: var(--secondary-font);
        @media(max-width: $lg) {
          margin-bottom: 10px;
        }

        a {
          color: var(--black-color);
          transition: all .2s ease-in-out;
        }

        a:hover {
          color: var(--primary-color);
        }

        p {
          color: var(--primary-font-color);
        }

        i {
          font-size: 12px;
          color: var(--primary-font-color);
          margin-right: 10px;
        }
      }

      .author {
        .img-wrapper {
          max-width: 50px;
          min-width: 50px;
          max-height: 50px;
          min-height: 50px;
          border-radius: 100%;
          overflow: hidden;
          margin-right: 15px;
          @media(max-width: $sm) {
            max-width: 45px;
            min-width: 45px;
            max-height: 45px;
            min-height: 45px;
          }
        }

        a {
          font-weight: 500;
          font-family: var(--secondary-font);
        }
      }

      a {
        color: var(--black-color);
        transition: all .2s ease-in-out;
      }

      a:hover {
        color: var(--primary-color);
      }
    }

    .right-side {
      justify-content: flex-start;
      text-align: left;
    }

    .left-side {
      justify-content: flex-end;
      text-align: right;
      @media(max-width: $lg) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  .post-standard:hover {
    box-shadow: 0 10px 20px var(--box-shadow-boxes);
  }

  // Post grid
  .post-grid {
    border-radius: 5px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 8px var(--box-shadow-boxes);
    margin-bottom: 30px;

    .post-image-side {
      padding-left: 0;
      padding-right: 0;
      position: relative;
      @media(max-width: $lg) {
        order: 1;
      }

      .img-wrapper {
        overflow: hidden;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;

        img {
          transition: all .5s ease-in-out;
        }
      }

      .tag {
        position: absolute;
        top: 18px;
        right: 18px;
        z-index: 101;
        padding: 8px 18px;
        line-height: 1;
        border-radius: 5px;
        font-family: var(--secondary-font);
        color: $white;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
      }

      .img-wrapper:hover:after {
        opacity: 0.4;
      }

      .img-wrapper:after {
        content: ' ';
        position: absolute;
        top: 0;
        transition: all 0.8s ease-in-out;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, var(--primary-color));
        opacity: 0;
      }
    }

    .post-content-side {
      padding: 30px;
      display: flex;
      flex-direction: column;
      @media(max-width: $xl) {
        padding: 30px 40px;
      }
      @media(max-width: $sm) {
        padding: 20px;
      }

      .post-title {
        font-weight: 700;
        margin-bottom: 5px;
        color: var(--black-color);
        font-size: 24px;
        font-family: var(--secondary-font);
        @media(max-width: $xl) {
          font-size: 22px;
        }
        @media(max-width: $sm) {
          font-size: 20px;
        }
      }

      .description-box {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid var(--default-border);
        line-height: 1;
        font-size: 13px;
        font-weight: 500;
        font-family: var(--secondary-font);
        @media(max-width: $lg) {
          margin-top: 15px;
          padding-top: 15px;
        }

        a {
          color: var(--black-color);
          transition: all .2s ease-in-out;
        }

        a:hover {
          color: var(--primary-color);
        }

        p {
          color: var(--primary-font-color);
        }

        i {
          font-size: 12px;
          color: var(--primary-font-color);
          margin-right: 10px;
        }
      }

      .author {
        a {
          font-weight: 500;
          font-family: var(--secondary-font);
        }
      }

      a {
        color: var(--black-color);
        transition: all .2s ease-in-out;
      }

      a:hover {
        color: var(--primary-color);
      }
    }
  }

  .post-grid:hover {
    box-shadow: 0 10px 20px var(--box-shadow-boxes);
  }

  // Post list
  .post-list {
    margin-bottom: 50px;
    @media(max-width: $md) {
      margin-bottom: 35px;
    }

    .img-wrapper {
      position: relative;
      display: block;
      height: 100%;
    }

    .tag {
      position: absolute;
      top: 25px;
      right: 50px;
      z-index: 101;
      padding: 8px 18px;
      line-height: 1;
      border-radius: 5px;
      font-family: var(--secondary-font);
      color: $white;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.3px;
      margin: 0 10px 10px 0;
      @media(max-width: $lg) {
        right: 30px;
      }
    }

    .post-image-side {
      padding-right: 20px;
      @media(max-width: $lg) {
        margin-bottom: 30px;
        padding-right: 0;
      }
      @media(max-width: $md) {
        margin-bottom: 15px;
      }
    }

    .post-content-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding-left: 20px;
      @media(max-width: $lg) {
        padding-left: 0;
      }

      .post-title {
        margin-bottom: 10px;
        font-weight: 700;
        color: var(--black-color);
        font-size: 26px;
        font-family: var(--secondary-font);
        line-height: 1.3;
        transition: all .2s ease-in-out;
        @media(max-width: $xl) {
          font-size: 24px;
        }
        @media(max-width: $lg) {
          margin-bottom: 10px;
        }
        @media(max-width: $sm) {
          font-size: 20px;
        }
      }

      .post-title:hover {
        color: var(--primary-color);
      }

      .post-content {
        margin-bottom: 20px;
      }

      .description-box {
        margin-bottom: 15px;
        line-height: 1;
        font-size: 13px;
        font-weight: 500;
        font-family: var(--secondary-font);
        @media(max-width: $lg) {
          margin-bottom: 5px;
        }

        a {
          color: var(--black-color);
          transition: all .2s ease-in-out;
        }

        a:hover {
          color: var(--primary-color);
        }

        p {
          color: var(--primary-font-color);
        }

        i {
          font-size: 12px;
          color: var(--primary-font-color);
          margin-right: 10px;
        }
      }
    }
  }

  .post-list:not(:last-child) {
    border-bottom: 1px solid var(--default-border);
    padding-bottom: 50px;
    @media(max-width: $md) {
      padding-bottom: 35px;
    }
  }

  // Blog navigation
  .blog-nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    @media(max-width: $lg) {
      margin-top: 0;
    }

    .active {
      background-color: var(--primary-color) !important;
      color: $white;
    }

    a {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      color: var(--black-color);
      font-family: var(--secondary-font);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      transition: all .2s ease-in-out;
    }

    a:not(:last-child) {
      margin-right: 10px;
    }

    a:hover {
      background-color: var(--black-color);
      color: $white;
    }
  }

  // Blog grid
  .blog-grid-row {
    margin-bottom: 20px;
  }

  .blog-list-row {
    margin-bottom: 10px;
  }

  // Single post
  .single-post-wrapper {
    padding-bottom: 80px;

    .post-content {
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--default-border);

      .post-thumb-wrapper {
        margin-bottom: 20px;
      }

      blockquote {
        margin-bottom: 20px;
      }

      .text-part {
        color: var(--black-color);
        margin-bottom: 20px;
      }

      .post-title {
        font-weight: 600;
        margin-bottom: 10px;
      }

      .list {
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .two-side-content {
        margin-bottom: 20px;
        @media(max-width: $lg) {
          margin-bottom: 0;
        }

        .image-wrapper {
          @media(max-width: $lg) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .description-box {
      justify-content: space-between;
      margin-bottom: 50px;
      @media(max-width: $lg) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .tags {
        @media(max-width: $lg) {
          width: 100%;
        }
      }

      .tags-wrapper {
        flex-wrap: wrap;
        @media(max-width: $lg) {
          justify-content: center;
          padding-bottom: 15px;
          margin-bottom: 23px;
          border-bottom: 1px solid var(--default-border);
          width: 100%;
        }

        .tag {
          z-index: 101;
          padding: 8px 18px;
          line-height: 1;
          border-radius: 5px;
          font-family: var(--secondary-font);
          color: $white;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.3px;
          margin: 0 10px 10px 0;
        }
      }

      .social-wrapper {
        .social-box {
          width: 35px;
          height: 35px;
          display: flex;
          border-radius: 50px;
          justify-content: center;
          align-items: center;
          color: $white;
          transition: all .2s ease-in-out;
        }

        .social-box:hover {
          border-radius: 100%;
        }

        .social-box:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  // Recent posts
  .recent-posts-section {
    margin-bottom: -50px;
    @media(max-width: $sm) {
      margin-bottom: -30px;
    }

    .recent-posts-title {
      margin-bottom: 25px;
      font-weight: 600;
      border-bottom: 1px solid var(--default-border);
      padding-bottom: 15px;
    }

    .recent-post {
      margin-bottom: 50px;
      @media(max-width: $sm) {
        margin-bottom: 30px;
      }

      .img-wrapper {
        margin-bottom: 20px;
      }

      .recent-post-body {
        .title {
          margin-bottom: 5px;

          a {
            color: var(--black-color);
            font-weight: 600;
            transition: all .3s ease-in-out;
          }

          a:hover {
            color: var(--primary-color);
          }
        }

        .recent-post-content {
          margin-bottom: 20px;
          padding-bottom: 15px;
          border-bottom: 1px solid var(--default-border);
          @media(max-width: $lg) {
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
        }

        .recent-description-box {
          line-height: 1;
          font-family: var(--secondary-font);
          font-size: 14px;

          a {
            color: var(--black-color);
            transition: all .2s ease-in-out;
            font-weight: 500;
          }

          a:hover {
            color: var(--primary-color);
          }

          p {
            color: var(--primary-font-color);
          }
        }
      }
    }
  }

  // Comments
  .post-comments-wrapper {
    padding-top: 80px;
    padding-bottom: 130px;
    @media(max-width: $xl) {
      padding-bottom: 100px;
    }
    @media(max-width: $lg) {
      padding-bottom: 80px;
    }
    @media(max-width: $md) {
      padding-bottom: 50px;
    }

    .comments-title {
      margin-bottom: 50px;
      font-weight: 600;
      border-bottom: 1px solid var(--default-border);
      padding-bottom: 15px;
    }

    .comments-list {
      margin-bottom: 50px;
      @media(max-width: $lg) {
        margin-bottom: 30px;
      }

      .comment {
        display: flex;
        align-items: center;

        .author-wrapper {
          margin-right: 40px;
          border-radius: 100%;
          overflow: hidden;
          max-width: 90px;
          min-width: 90px;
          max-height: 90px;
          min-height: 90px;
          @media(max-width: $md) {
            max-width: 50px;
            min-width: 50px;
            max-height: 50px;
            min-height: 50px;
          }
        }

        .comment-body {
          width: 100%;

          .author-name {
            text-transform: uppercase;
            color: var(--black-color);
            font-weight: 600;
            font-family: var(--secondary-font);
            line-height: 1;
            margin-bottom: 10px;
            letter-spacing: 0.6px;
            font-size: 14px;
          }

          .date {
            font-size: 13px;
            line-height: 1;
            margin-bottom: 5px;
            color: var(--black-color);
            @media(max-width: $md) {
              font-size: 12px;
            }
          }

          .reply-link {
            line-height: 1;
            color: var(--primary-color);
            font-weight: 500;
            font-family: var(--secondary-font);

            i {
              margin-right: 10px;
            }
          }
        }

        .comment {
          margin-top: 50px;
          @media(max-width: $lg) {
            margin-top: 40px;
          }
        }
      }

      .comment-reply {
        padding-left: 70px;
        @media(max-width: $lg) {
          padding-left: 40px;
        }
        @media(max-width: $md) {
          padding-left: 20px;
        }
      }

      .comment:not(:first-child):not(.comment-reply) {
        margin-top: 60px;
        @media(max-width: $lg) {
          margin-top: 50px;
        }
        @media(max-width: $md) {
          margin-top: 30px;
        }
      }
    }

    .comment-form {
      width: 100%;

      .input-row {
        margin-bottom: 20px;
        @media(max-width: $lg) {
          margin-bottom: 10px;
        }

        input {
          width: 50%;
        }

        :first-child {
          margin-right: 10px;
          @media(max-width: $lg) {
            margin-right: 5px;
          }
        }

        :last-child {
          margin-left: 10px;
          @media(max-width: $lg) {
            margin-left: 5px;
          }
        }
      }

      input {
        padding: 0 20px;
        height: 55px;
        border: 2px solid var(--default-border);
        background-color: $white;
        @media(max-width: $lg) {
          padding: 0 15px;
        }
      }

      textarea {
        padding: 15px 20px;
        border: 2px solid var(--default-border);
        background-color: $white;
        width: 100%;
        resize: none;
        height: 250px;
        margin-bottom: 20px;
        @media(max-width: $lg) {
          padding: 0 15px;
          margin-bottom: 10px;
        }
      }

      button {
        cursor: pointer;
        padding: 0 25px;
        height: 50px;
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        color: $white;
        font-weight: 500;
        font-family: var(--secondary-font);
        transition: all .3s ease-in-out;
        @media(max-width: $lg) {
          padding: 0 20px;
        }
      }

      button:hover {
        background-color: transparent;
        color: var(--primary-color);
      }

      ::placeholder {
        color: rgba($black, 0.6);
      }
    }
  }

  .comments-col {
    padding: 0 15px;
    @media(max-width: $sm) {
      padding: 0;
    }
  }
}

// Single post section
.single-post-section {
  padding-top: 100px;
  @media(max-width: $lg) {
    padding-top: 75px;
  }
  @media(max-width: $md) {
    padding-top: 50px;
  }
}
